* {
    box-sizing: border-box;
}

.container {
    border: solid gray 5px;
    height: 500px;
    width: 100%;
    padding: 10px;
}

.box {
    border: solid blue 5px;
}

.box-small {
    height: 100px;
    width: 30%;
    margin-top: 10px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    width: 100%;
    height: 50px;
}