.box {
    border: 4px solid lightgray;
    width: 200px;
    height: 200px;
}

.box-small {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.box-wrapper {
    display: flex;
    align-items: center;
}

.container {
    border: 4px solid lime;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}